{% extends 'AppBundle::base.html.twig' %}

{% block body %}
<body class="unknown">
    <div id="overlay"></div>
    <div id="activity-indicator"></div>
    <div id="box">
        <div id="status">???</div>
        <div id="updateStats">
            <h2 id="headline"><i class="fa fa-tint"></i> Silvan's Wateralarm</h2>
            <div > Last change: <span id="lastChange">???</span></div>
            <div > Last update: <span id="lastUpdate">???</span></div>
            <div >Buzzer status: <span id="buzzerStatus">???</span></div>
            <div id="simulate">Simulate: <span id="ok">OK</span> <span id="alarm">Alarm</span> </div>

        </div>
    </div>

{% endblock %}
